<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>WW</h1>

  <h2>
    Join the <a href="https://discord.gg/AzwwAkx" ><img id="discord" src="https://discordapp.com/assets/e4923594e694a21542a489471ecffa50.svg" alt="Discord Link"></a>to suggest features or help improve the app!
  </h2>
  <br/>

</div>